*
!.gitignore
!workflow/
!workflow/rules/
!workflow/rules/*
!workflow/scripts/
!workflow/scripts/*
!workflow/envs/
!workflow/envs/*
!workflow/Snakefile
!config/
!config/*
!resources/
!resources/*
!results/
!README.md
!LICENSE.md
!lsf.yaml